parameters:
	ignoreErrors:
		-
			message: "#^Method AMQP10\\\\Management\\\\Management\\:\\:assertSuccess\\(\\) has parameter \\$expected with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Management/Management.php

		-
			message: "#^Method AMQP10\\\\Management\\\\Management\\:\\:assertSuccess\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Management/Management.php

		-
			message: "#^Method AMQP10\\\\Management\\\\Management\\:\\:awaitResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Management/Management.php

		-
			message: "#^Method AMQP10\\\\Management\\\\Management\\:\\:decodeResponsePayload\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Management/Management.php

		-
			message: "#^Method AMQP10\\\\Management\\\\Management\\:\\:request\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Management/Management.php

		-
			message: "#^Property AMQP10\\\\Messaging\\\\Consumer\\:\\:\\$address is never read, only written\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Consumer.php

		-
			message: "#^Property AMQP10\\\\Messaging\\\\Consumer\\:\\:\\$credit is never read, only written\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Consumer.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:__construct\\(\\) has parameter \\$annotations with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:__construct\\(\\) has parameter \\$applicationProperties with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:__construct\\(\\) has parameter \\$properties with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:annotations\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:applicationProperties\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\Message\\:\\:properties\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Message.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\MessageDecoder\\:\\:extractProperties\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/MessageDecoder.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\MessageDecoder\\:\\:extractProperties\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/MessageDecoder.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\MessageEncoder\\:\\:section\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/MessageEncoder.php

		-
			message: "#^Method AMQP10\\\\Messaging\\\\MessageEncoder\\:\\:sectionMap\\(\\) has parameter \\$pairs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Messaging/MessageEncoder.php

		-
			message: "#^Property AMQP10\\\\Messaging\\\\Publisher\\:\\:\\$address is never read, only written\\.$#"
			count: 1
			path: src/AMQP10/Messaging/Publisher.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\PerformativeEncoder\\:\\:attach\\(\\) has parameter \\$properties with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/PerformativeEncoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\PerformativeEncoder\\:\\:described\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/PerformativeEncoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\PerformativeEncoder\\:\\:saslMechanisms\\(\\) has parameter \\$mechanisms with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/PerformativeEncoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeArray32\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeArray8\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeArrayElements\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeDescribed\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeList32\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeList8\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeMap32\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeMap8\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php

		-
			message: "#^Method AMQP10\\\\Protocol\\\\TypeDecoder\\:\\:decodeMapItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AMQP10/Protocol/TypeDecoder.php
