<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/IbmMqTestCase.php</exclude>
            <exclude>tests/Integration/IbmMqPublishConsumeTest.php</exclude>
        </testsuite>
        <testsuite name="IbmMq">
            <file>tests/Integration/IbmMqPublishConsumeTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
